<h1>{{title}}</h1>

<h3>Number of Sentences : {{nos}}</h3>

Number of words in sentences
<ol>
{{#each wordarr}}
  <li>{{this}}</li>
{{/each}}
</ol>

<<<<<<< HEAD

<h3>Concordance of Words : </h3>

<ol>
{{#each word}}
  <li>alert("word: " + {{this}} + " concordance: " );</li>
=======
Frequency of words in sentences
<ol>
{{#each word}}
  <li>Word:{{this}} </li>
>>>>>>> f498c649c428afde63c10a25741f649d11ce98b0
{{/each}}
</ol>


<<<<<<< HEAD


<h3>Concordance of Words : </h3>
<!-- for (word in concordance) {
    alert("word: " + word + " concordance: " + concordance[word]);
}
//-->



=======
>>>>>>> f498c649c428afde63c10a25741f649d11ce98b0
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="../routes/index.js"></script>
<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "Distribution of Words per Sentence"           
		},
		axisY:{
        interval: 1
      },
	  axisX:{
       interval: 1
     },
		data: data, 
		
	});
	chart.render();
}

var limit = {{{nos}}};    //increase number of dataPoints by increasing this
   
    var y = 0;
    var data = []; var dataSeries = { type: "column" };
    var dataPoints = [];
    for (var i = 0; i < limit; i += 1) {
        y = {{wordarr.[1]}};
         dataPoints.push({
          x: i + 1 ,
          y: y                
           });
        }
     dataSeries.dataPoints = dataPoints;
     data.push(dataSeries);     





</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>


