<h1>{{title}}</h1>

<h3>Number of Sentences : {{nos}}</h3>

Number of words in sentences
<ol>
{{#each wordarr}}
  <li>{{this}}</li>
{{/each}}
</ol>


Frequency of words in sentences
<p>
<ol>

{{#each words}}
  <li>{{this}} </li>
{{/each}}
</ol>
</p>


<thead>
    <tr>
            <th>Word</th>
			<th>frequency</th>
    </tr>
</thead>
<tbody>
    {{#each words}}
        <tr>
            
                <td>{{this}}</td>
				
            
        </tr>{{/each}}
		<tr>
            {{#each concordance}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
</tbody>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">

window.onload = function () {

	var array;
   console.log({{wordarr}});
   array={{wordarr}};
   var testa = "{{wordarr}}"
   console.log(testa);
   array = testa;
   console.log(array);
   {{log array}}
    var data = []; var dataSeries = { type: "column" };
    var dataPoints = [];
	var index=0;

    for (var i = 0; i < {{{nos}}}; i += 1) {
		console.log(i);
		console.log(array[i]);
		var y= array[i];
         dataPoints.push({
          x: i + 1 ,
          y: y                
           });
		   index++;
        }
     dataSeries.dataPoints = dataPoints;
     data.push(dataSeries);   
	
	
	
	var chart = new CanvasJS.Chart("chartContainer", {
		title:{
			text: "Distribution of Words per Sentence"           
		},
		axisY:{
        interval: 1
      },
	  axisX:{
       interval: 1
     },
		data: data, 
		
	});
	chart.render();
}
   
   
   





</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>


